html {
    font-size: 14px;
}

body {
    background: linear-gradient(90deg, rgba(255,123,92,1) 0%, rgba(255,108,129,1) 50%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    font-size: 1.75rem !important;
}

.container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#hackuci-app {
    width: 60%;
    border-radius: 20px !important;
}

.button-orange {
    width: 25%;
    color: white;
    background-color: rgba(255, 123, 92, 1);
    border: 0;
    border-radius: 100px;
    padding: 5px 0;
}

#petr {
    animation-name: floatDown, floatUp;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes floatDown {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);   
    }
    to {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 760px) {
    body {
        background: linear-gradient(0deg, rgba(255,123,92,1) 0%, rgba(255,108,129,1) 50%);
    }
}