html {
    font-size: 14px;
}

body {
    background: linear-gradient(-180deg, rgba(255,123,92,1) 0%, rgba(255,108,129,1) 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.75rem !important;
}

@media (min-width: 992px) {
    .container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
}

#hackuci-app {
    border-radius: 20px !important;
    width: 60%;
}

.button-orange {
    color: white;
    background-color: rgba(255, 123, 92, 1);
    border: 0;
    border-radius: 100px;
    padding: 5px 20px;
}

#petr {
    animation-name: floatDown, floatUp;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes floatDown {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);   
    }
    to {
        transform: translateY(0px);
    }
}

@media (min-width: 992px) {
    body {
        background: linear-gradient(90deg, rgba(255,123,92,1) 0%, rgba(255,108,129,1) 50%);
    }
}
