:root {
    --hackuci-orange: #ff7b5c;
    --hackuci-pinkish-red: #ff6c81;
}

html {
    font-size: 14px;
}

body {
    background: linear-gradient(-180deg, var(--hackuci-orange), var(--hackuci-pinkish-red));
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.75rem !important;
}

#hackuci-app {
    border-radius: 20px !important;
    width: 60%;
}

.button-orange {
    color: white;
    background-color: rgba(255, 123, 92, 1);
    border: 0;
    border-radius: 100px;
    padding: 5px 20px;
}

#petr {
    animation-name: float;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}

/* Animation gives the appearance of Petr floating */
@keyframes float {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(3px);   
    }
    to {
        transform: translateY(0px);
    }
}

/*
Turn gradient to horizontal for devices with width greater than 992px, the Bootstrap col-lg breakpoint.
Additionally, center the container in the center of the screen (horizontally and vertically).
*/
@media (min-width: 992px) {
    body {
        background: linear-gradient(90deg, var(--hackuci-orange), var(--hackuci-pinkish-red));
    }
    .container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
}

/* Use mobile (stacked) layout for devices with width greater than 992px. */
@media (max-width: 992px) {
    #hackuci-app {
        width: 85%;
    }
}